## Dropping

Drop method is use to remove specific rows or cloumns from a data frame

In [4]:
import pandas as pd
#sample data
data = {'name':['nikhil','abhinay','suman','shekh'],
        'age':[20,22,22,20],
        'city':['Bilaspur','Mungeli','rewa','chambal']
       }
df = pd.DataFrame(data)
print("the original data frame is :-\n",df)
df_dropping = df.drop(1)
print("\n dta

the original data frame is :-
       name  age      city
0   nikhil   20  Bilaspur
1  abhinay   22   Mungeli
2    suman   22      rewa
3    shekh   20   chambal