in pandas the term Not a Number is use to represent a missing or undefined values. it is a floating-point value that indicates the absence of a valid numerical result

In [2]:
import pandas as pd 
import numpy as np
s = pd.Series([1,2,4,np.nan,5,6])
print("the original series:-\n",s)

the original series:-
 0    1.0
1    2.0
2    4.0
3    NaN
4    5.0
5    6.0
dtype: float64

## Detecting the NaN value

In [4]:
#usinf isna() method
detecting_NaN=s.isna().any()
print(detecting_NaN)

True

# handling NaN values

In [9]:
#using dropna() and fillna() we are able to handle NaN values
droping = s.dropna()
print("after using drop method:-\n",droping)
fill = s.fillna(20)
print("after using fill method:-\n",fill)

after using drop method:-
 0    1.0
1    2.0
2    4.0
4    5.0
5    6.0
dtype: float64
after using fill method:-
 0     1.0
1     2.0
2     4.0
3    20.0
4     5.0
5     6.0
dtype: float64