In [2]:
import pandas as pd
import numpy as np

## Data Frame

In [4]:
df = pd.DataFrame()
print(df)
#we get the empty result

Empty DataFrame
Columns: []
Index: []

In [8]:
#creating our first data fram
df2 = pd.DataFrame([[1,2,3,4],[1,3,5,6],[7,5,3,2],[7,5,3,2],[7,5,3,2],[7,5,3,2]])
print(df2)

   0  1  2  3
0  1  2  3  4
1  1  3  5  6
2  7  5  3  2
3  7  5  3  2
4  7  5  3  2
5  7  5  3  2

In [9]:
#suppose i want to print the first some of coloumns for that we use the head attribute 
df2.head(3)#this will work top to bottom

   0  1  2  3
0  1  2  3  4
1  1  3  5  6
2  7  5  3  2

In [10]:
#now we see bottom to top for that we use the tail attribute in pandas
df2.tail(3)

   0  1  2  3
3  7  5  3  2
4  7  5  3  2
5  7  5  3  2