In [2]:
import pandas as pd
import numpy as np

## Data Frame

In [4]:
df = pd.DataFrame()
print(df)
#we get the empty result

Empty DataFrame
Columns: []
Index: []

In [8]:
#creating our first data fram
df2 = pd.DataFrame([[1,2,3,4],[1,3,5,6],[7,5,3,2],[7,5,3,2],[7,5,3,2],[7,5,3,2]])
print(df2)

   0  1  2  3
0  1  2  3  4
1  1  3  5  6
2  7  5  3  2
3  7  5  3  2
4  7  5  3  2
5  7  5  3  2

In [9]:
#suppose i want to print the first some of coloumns for that we use the head attribute 
df2.head(3)#this will work top to bottom

   0  1  2  3
0  1  2  3  4
1  1  3  5  6
2  7  5  3  2

In [10]:
#now we see bottom to top for that we use the tail attribute in pandas
df2.tail(3)

   0  1  2  3
3  7  5  3  2
4  7  5  3  2
5  7  5  3  2

## How to know the size of the Data frame

for that we use the shape attribute

In [12]:
print("the size of df2 is :-", df2.shape)
#6 rows and 4 coloumns

the size of df2 is :- (6, 4)

## Slicing in pandas

for that we use the iloc attribute

In [22]:
#suppose in slicing i want to access 5 present in row number 1 and coloumn number 2
print(df2.iloc[1,2])
#now i want to access the element present in between row nummber 1 to row number 2 and coloumn number 1 to coloumn number 2 
print(df2.iloc[1:3,1:3])

5
   1  2
1  3  5
2  5  3

In [25]:
#changing the name of coloumn form number to character 
df2 = pd.DataFrame([[1,2,3,4],[1,3,5,6],[7,5,3,2],[7,5,3,2],[7,5,3,2],[7,5,3,2]],columns=['a','b','c','d'])
print(df2)

   a  b  c  d
0  1  2  3  4
1  1  3  5  6
2  7  5  3  2
3  7  5  3  2
4  7  5  3  2
5  7  5  3  2